body {
    text-align: center;
    background-color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: rgb(212, 16, 16);
}

p {
    color: rgb(233, 233, 233);
}

li {
    color: rgb(233, 233, 233);
    padding: 10px;
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

button {
    margin: 4px;
}

.alert {
    border: 2px solid red;
}

.key {
    padding: 10px;
    background-color: #1e1e1e;
    color: rgb(212, 16, 16);
    border: 1px solid rgb(233, 233, 233);;
}