body {
    text-align: center;
    background-color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(212, 16, 16);
}

p {
    color: rgb(233, 233, 233);
}

.alert {
    color: rgb(212, 16, 16);
}