body {
    text-align: center;
    background-color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: rgb(212, 16, 16);
}

p {
    color: rgb(233, 233, 233);
}

li {
    color: rgb(233, 233, 233);
    padding: 10px;
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

button {
    margin: 4px;
    padding: 10px;
    color: rgb(233, 233, 233);
    border: 1px solid rgb(233, 233, 233);
    background-color: #1e1e1e; 
    font-size: 14px;
}

.altBtn {
    color: rgb(212, 16, 16);
    display: block;
    margin: 0 auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px; 
    font-size: 20px;
}

input {
    padding: 10px;
    font-size: 14px;
    padding: 10px;
    margin: 0px;
    border-radius: 7px;
    border: 2px solid rgb(233, 233, 233); 
}

input:focus {
    outline: none;
    border: 2px solid rgb(128, 128, 128); 
}

button:focus {
    outline: none;
    border: 1px solid rgb(128, 128, 128); 
}

.alert {
    border: 2px solid red;
}

.warningText {
    color: rgb(212, 16, 16);
    visibility: hidden;
}
